<h2>{{nombre_componente}}</h2>
   <p>{{listado_frutas}}</p>
   {{hola}}


   {{parametro}}


   <hr/>

   <h3>Colores switch</h3>
   <ul [ngSwitch]="color">
       <li *ngSwitchCase="'red'" [ngStyle]="{'background': color, 'color': 'white'}">Es de color rojo</li>
   </ul>

     

   <hr/>
   <h3>Selector de colores</h3>
   <strong>Color elegido</strong><input type="text" [(ngModel)]= "colorSelec"/>
   <div [ngStyle]="{'background': colorSelec, 'width': '200px','height': '200px'}"> </div>
   <div style="clear:both"></div>